$color-bg-main: #fff;
$color-bg-light: rgba(222, 242, 250, .85);

$color-red-light: #f06857;
$color-red: #e23f43;
$color-red-dark: #ae2f33;

$color-border-base: #c8c8c8;

$color-dark-2: #515558;
$color-dark-base: #828282;
$color-dark-light-3: #8F9699;
$color-dark-light: #c8c8c8;

$color-dark-light-2: #D4D7DA;
$color-dark-light-3: #EBEBEB;

$color-blue-light: #2FAADE;
$color-blue-light-2: rgba(47, 170, 222, 0.51);
$color-blue-light-3: rgba(212, 232, 240, .85);
$color-blue-light-bg: rgba(135, 207, 235, .15);